<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">
    <title>Document</title>
</head>
<body>
    <form id="register-form" method="post" action="/register">
        <input class="register-input" type="text" name="username" placeholder="Enter username">
        <input class="register-input" type="password" name="password" placeholder="Enter password">

        <button id="register-button" type="submit">Submit</button>
    </form>
</body>
</html>