<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login-register.css') }}">

</head>
<body>
    <form class="login-form" method="post" action="/">
        <input class="login-input" type="text" name="username" placeholder="Enter username">
        <input class="login-input" type="password" name="password" placeholder="Enter password">

        <div id="buttons-div">
            <button id="login-button" type="submit">Login</button>
            <button id="register-button" type="button" onclick="window.location.href='{{ url_for('register') }}'">
            Register
            </button>
        </div>
    </form>
</body>
</html>