body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top right, rgb(0, 0, 0), rgb(62, 54, 54));
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fd7575;
    border-radius: 5px;
    background-color: rgba(78, 78, 78, 0.5);
    gap: 20px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.8);
}

#buttons-div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/*
.login-input {

}
*/

/*
Почитай про box-shadow. Можеш також в моїх конспектах глянути CSS/Features/Borders & Outlines
Вона дозволяє прикольні ефектики робити

А ще обов'язково глянь що таке focus, hover і другі стани для кнопок та інпутів. З ними також можна щось прикольне зробити
Якщо що, то цей інтерфейс, який я накинув, це просто рандом, щоб якось заповнити. Можеш міняти його як хочеш.
Далі скоріше всього я буду лишати, тільки файли типу: name.html, name.css, з однаковими іменами. Далі сам все заповнюй
*/