body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top right, rgb(0, 0, 0), rgb(20, 16, 37), rgb(6, 8, 38));
}

#login-form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 2%;
    background-color: rgba(49, 49, 49, 0.5);
    backdrop-filter: blur(10px);
    gap: 20px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.8);
    
}

#login-title {
    text-align: center;
    color: rgb(180, 191, 203);
    font-family: 'Arial', sans-serif;
    text-shadow: 0px 0px 2px rgb(109, 109, 124);
}


.login-input {
    background-color: #262e41;
    color: rgb(224, 245, 255);
    border-color: 1px solid #262e41;
    border-radius: 4px;
    
}

.login-input::placeholder {
    color: rgb(160, 160, 160);
}

.login-input:focus {
    border: 1px solid rgb(109, 109, 124);
    text-shadow: 0px 0px 10px rgb(109, 109, 124);
}

#co-content {
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#flave-title {
    margin-bottom: 0px;
    color: rgb(109, 109, 124);
    font-family: 'Playfair Display', serif;
}

#p-nisetu {
    margin-top: 0px;
    margin-left: 2px;
    color: rgb(109, 109, 124);
    font-family: 'Merriweather', serif;
}